@use "../../sass/variables" as *;

.modal__container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    display: flex;
    align-items: center;
    justify-content: center;

    .edit__modal {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: $white-color;
        border-radius: 5px;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
        padding: 20px;
        max-width: 80%;
        width: 758px;

        h1 {
            color: #000;
            font-family: 'Raleway', sans-serif;
            font-size: 35px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            margin-top: 25px;
            
        }

        form {
            width: 60%;
            height: 95%;
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-direction: column;
            margin: 50px; 
        }

        label {
            color: #000;
            font-family: 'Raleway', sans-serif;
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            color: #000;
            margin-bottom: 5px;
        }

        input {
            width: 400px;
            height: 25px;
            border-radius: 5px;
            padding: 10px;
            margin: 5px 0px 40px 0;
        }
        
        textArea {
            width: 400px;
            height: 100px;
            border-radius: 5px;
            padding: 10px;
        }
    }
    

    .edit__modal__div__btn {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin-top: 10px;

        button {
            width: 150px;
            height: 55px;
            font-family: 'Raleway', sans-serif;
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            border-radius: 10px;
            cursor: pointer;
        }

        .modal__btn__cancel {
            background-color: $base-blueColor;
            color: $white-color;
        
        }
        
        .modal__btn__add {
            border: 1px solid #000;
            background: $white-color;
        }

        button:hover{
            box-shadow: 5px 5px 5px 5px rgba(171, 171, 171, 06);
        } 
    }
}